<header>
    
        <a href="index.html"></a>
        <picture class="logo_picture">
            <source srcset="./images/logo.png 1x, ./images/logo@2x.png"
            media="(min-width:1200px)"
            width="200"
            />
            <img src="./images/logo.png" 
            alt="logo"
            width="200">

        </picture>
        </a>

        <h1 class="title">FIND BEST EVENTS <br> AROUND THE WORLD</h1>

        <div class="form-container">
        <form action="" class="search-form">
            <input type="text" placeholder="Start Searching" class="search-input" name="searchQuery">
            <button type="submit" class="submit-bttn">Search</button>
        </form>
    </div>
       
  


</header>