footer{
    background-color: $black-color;
}
.developed-by{
    text-align: center;
    padding: 60px;
    color: $grey-text-color;
    opacity: .7;
    font-family: 'Montserrat';
    font-weight: 400;

}
